DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=midterm
# Uncomment and set to true for Heroku
# DB_SSL=true if heroku
DB_PORT=5432

yelpApiKey = w8L3Eb9iX9rS4KnoOa530di5FSA7RVeEiclTzrwJ6D-h7MW-DqEfXb0ult_pWfMLVBjjScD8qNX0TqdbEg7_D_Uf2wI2sng1qH8GEAFvosXiW2HFm5dOeUoJtP0HYnYx
WolframappId = WY4Q9T-8W44L72HA8
movieAPIkey = 6c221930e1adc8e2c3d046a15e547b2e



