$color: rgb(216, 216, 231);

// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;

//   background: $color;
// }


.main-body {
  display: flex;

  font-family: Arial, Helvetica, sans-serif;
  color: black;

  div {
    margin: auto;
    padding: 3px;
    border: 2px solid black;
  }
}
